<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form #subjForm="ngForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="subjectName">Nazwa przedmiotu</label>
              <div class="col-md-9">
                <input type="text" id="subjectName" name="subjectName" class="form-control" required [(ngModel)]="subjectName"
                  #name="ngModel" name="subjectName" placeholder="nazwa przedmiotu">
                <span class="help-block">Podaj nazwę przedmiotu</span>
                <div [hidden]="name.valid && !name.pristine" class="alert alert-danger">
                  Podaj nazwę przedmiotu!
                </div>
              </div>
            </div>
            <button (click)="addSubject()" type="submit" class="btn btn-sm btn-primary"
              [disabled]="!subjForm.form.valid"><i class="fa fa-dot-circle-o"></i> Wyślij</button>
            <button (click)="clearForm()" type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
              Zresetuj</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div [hidden]="!submitted" class="alert alert-success" role="alert">
        Sukces! Przedmiot dodany.
      </div>
    </div>
  </div>
</div>